In [3]:
print(1+1)

2

In [26]:
a = 20
b = 10.5
c = "Python is the best"
d = True

rupok = 10
amm_jam = 20

print(type(c))

<class 'str'>

In [22]:
# print(10)

"""
print(20)
print(1)
print(1)
print(1)
print(1)
"""
print(10+20+20)

50

In [46]:
a = 10.5
b = int(a)

c = "100"
d = int(c)
# print(type(d)

e = True
f = False

g = int(False)

x = bool(0)
y = bool(-10)

p = bool("hello")
q = bool("")
     
print(q)

True

In [68]:
a = 10
A = 100
b = 5
c = a + b

d = 100 - 50
e = 10 * a

x  = a/b
f = int(x)

# print("hi" == "Hi")
# print(a == a)

# % = modulos / mod
r = 10 % 7

print( 10 != 11)

"""
  A or B 
= 1 or 1 = 1
= 0 or 1 = 1
= 1 or 0 = 1
= 0 or 0 = 0

  A and B
= 1 and 1 = 1
= 0 and 1 = 0
= 1 and 0 = 0 
= 0 and 0 = 0
"""

3

In [85]:
money = 45

coffee = 250
tea = 100
pasta  =  50

if money >= coffee:
    print("Order a coffee for me")
elif money >= tea:
    print("Order a tea for me")
elif money >= pasta:
    print("Order a pasta")
else:
    print("Need more money")

Need more money

In [72]:
if True:
    print("Hi")
else:
    print("Bye")

Hi

In [25]:
for i in range(1, 5, 1):
    print(i)

1
2
3
4

In [5]:
i = 1
while i <= 20:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [10]:
i = 1
while i<21:
    if i%2 == 0:
        print(str(i) + " is even")
    else:
        print(str(i) + " is odd")
    i = i+1

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

In [11]:

for i in range(1, 21, 1):
    if i%2 == 0:
        print(str(i) + " is even")
    else:
        print(str(i) + " is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

In [23]:
mylist = [1,2,3,4,5,6,7]

# print(mylist[4])

cars = ["Bike", 'Bus', 'Rickshaw', "CNG"]

cars.append("Thela-Gari")
cars.remove('Bus')
cars

['Bike', 'Rickshaw', 'CNG', 'Thela-Gari']

In [26]:
for i in cars:
    print(i)

Bike
Rickshaw
CNG
Thela-Gari

In [38]:
stations  = ["Gabtoli", "Saydabad", "Gulisthan", "Sadarghat", "Natunbazar", "Uttara"]

for station in stations:
    if station == "Natunbazar":
        continue
    if station == "Sadarghat":
        break
    print("Bus stopped at "+station)

Bus stopped at Gabtoli
Bus stopped at Saydabad
Bus stopped at Gulisthan

In [39]:
a = [5,1,2,3,19,11,10,7,9,8]

for i in a:
    if i%2 == 0:
        continue
    else:
        print(i)

5
1
3
19
11
7
9

In [29]:
a = [5,1,2,3,19,11,10,7,9,8]
# a.sort()
a.sort(reverse = True)
print(a)

[19, 11, 10, 9, 8, 7, 5, 3, 2, 1]

In [33]:
cars = ['Bus', "Bike", 'Rickshaw', "CNG", "Air-bus"]
cars.sort(reverse = True)
cars

['Rickshaw', 'CNG', 'Bus', 'Bike', 'Air-bus']